.hero-section {
  position: relative;
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px;
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
  transition: background-image 1.2s ease-in-out, opacity 0.4s ease;
  z-index: 0;
  opacity: 0.999;
  will-change: transform;
}

.hero-image::after {
  content: "";
  position: absolute;
  inset: 0;
  background: radial-gradient(circle, rgba(0,0,0,0) 60%, rgba(0,0,0,0.6) 100%);
  border-radius: 20px;
  pointer-events: none;
}

.hero-content {
  position: relative;
  z-index: 1;
  text-align: center;
}


.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.content p {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-buttons {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.btn-primary {
  background: #00bcd4;
}

.btn-secondary {
  background: #0097a7;
  transition: color 0.3s ease, transform 0.3s ease;
}

.arrow.left {
  left: 3%;
}

.arrow.right {
  right: 3%;
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 2.5rem;
  padding: 0.3rem 1rem;
  border-radius: 50%;
  cursor: pointer;
  z-index: 2;
  border: none;
}
