.vyhody-content h2 {
  margin: 1rem auto 5rem;
  font-size: 2.5rem;
}

.vyhody-container {
  justify-content: center;
}

.vyhody-icons {
  font-size: 2rem;
  justify-content: center;
}

.vyhody-title {
  display: inline-block;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
}

.vyhody-learn-more {
  margin-top: 4rem;
}

.vyhody-card {
  border-radius: 12px;
  padding: 2rem;
  width: 220px;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.45);
}

