html,
body {
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  min-height: calc(100vh - 280px);
  display: flex;
  flex-direction: column;
}

html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    90deg,
    #1abc9c,  /* tyrkysová */
    #9b59b6,  /* fialová */
    #ff6ab4   /* růžová */
  );}

*,
*::before,
*::after {
  box-sizing: inherit;
}
