.aktualita-image, .aktualita-title, .aktualita-description {
  transition: all 0.6s ease;
}

.aktualita-card:hover {
  box-shadow: 0 8px 18px rgba(0,0,0,0.25);
  border-radius: 10px;
  height: 85%;
}

.aktualita-card:hover .aktualita-image {
  transform: scale(0.95);
}

.aktualita-card:hover .aktualita-description {
  max-height: 10em;
}

.aktualita-card:hover .aktualita-title {
  transform: translateY(0);
  color: #ff8c42;
}

.aktualita-description {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  transition: max-height 1.5s ease-in-out, opacity 1.5s ease-in-out;
}

.aktualita-card:hover .aktualita-description {
  max-height: 10em;
  opacity: 1;
}

.hover-target:hover {
  color: #ff8c42;
  transform: scale(1.05);
  text-shadow: 2px 2px 4px rgba(0,0,0,0.5), -1px -1px 1px rgba(255,255,255,0.2), 0 0 4px rgba(0,0,0,0.3);
}

.aktualita-description:hover {
  transform: scale(1.05);
}