.hlaseniskody-content h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.hlaseniskody-content p {
  font-size: 1.2rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

. hlaseniskody-button {
  border-radius: 30px;
  padding: 0.9rem 2.5rem;
  font-size: 1rem;
}

