.pojisteni-content h2 {
  font-size: 2.5rem;
  margin-bottom: 3rem;
}

.pojisteni-container {
  flex-direction: column;
  align-items: center;
}

.pojisteni-card {
  width: 100%;
  max-width: 700px;
  border-radius: 15px;
  padding: 30px;
  text-align: left;
}

.pojisteni-icons span {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.pojisteni-title {
  display: inline-block;
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.pojisteni-description {
  display: inline-block;
  font-size: 1.1rem;
  line-height: 1.6rem;
}

.pojisteni-learn-more {
  margin-top: 4rem;
}
